.header__logo {
    margin-right: 90px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--primary-second-text-color);
}

.header__logo > span {
    color: var(--accent-color);
}

.footer__logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--primary-first-text-color);
}

.footer__logo > span {
    color: var(--accent-color);
}